<config version="1.0.0">
	<sysmgr>
		<sysmgr-0>
			<settings>
				<users>
					<user>
						<name>root</name>
						<password>sky</password>
					</user>
				</users>
			</settings>
		</sysmgr-0>
	</sysmgr>
	<logger>
		<logger-0>
			<log>
				<level>crit</level>
			</log>
			<settings>
				<count>100</count>
				<output>
					<fileSystem>
						<enable>0</enable>
						<path>/var/tmp</path>
						<sizeinbytes>16384</sizeinbytes>
					</fileSystem>
					<syslog>
						<enable>0</enable>
						<serverIP/>
						<serverPort/>
					</syslog>
					<console>
						<enable>0</enable>
						<device>/dev/console</device>
					</console>
				</output>
				<input>
					<syslogServer>
						<enable>0</enable>
						<level>debug</level>
					</syslogServer>
					<kernelLog>
						<enable>0</enable>
						<level>debug</level>
					</kernelLog>
				</input>
			</settings>
		</logger-0>
	</logger>
	<eth>
		<eth-0>
			<log>
				<level>crit</level>
			</log>
			<settings>
				<name>eth0</name>
				<txqueuelen>100</txqueuelen>
				<checklink>1</checklink>
				<switch>none</switch>
			</settings>
		</eth-0>
	</eth>
	<bridge_vlan>
		<bridge_vlan-0>
			<log>
				<level>crit</level>
			</log>
			<settings>
				<vlanid>1</vlanid>
				<name>VLAN 1</name>
				<active>1</active>
				<ismgmt>1</ismgmt>
				<ifaces>
					<iface index="0">eth-0</iface>
					<iface index="1">wireless_core-0</iface>
				</ifaces>
			</settings>
		</bridge_vlan-0>
	</bridge_vlan>
	<port_vlan>
		<port_vlan-0>
			<log>
				<level>crit</level>
			</log>
			<settings>
				<ports>
					<port>
						<iface>eth-0</iface>
						<name>Ethernet 1</name>
						<pvid>100</pvid>
						<tagging>0</tagging>
						<portpriority>0</portpriority>
						<funtag>0</funtag>
						<funreg>0</funreg>
					</port>
				</ports>
			</settings>
		</port_vlan-0>
	</port_vlan>
	<static>
		<static-0>
			<log>
				<level>crit</level>
			</log>
			<settings>
				<ip>90.223.243.225</ip>
				<mask>255.255.255.248</mask>
				<gw>0.0.0.0</gw>
				<dns1>0.0.0.0</dns1>
				<dns2>0.0.0.0</dns2>
				<mode>0</mode>
				<unresolvable>1</unresolvable>
				<initial_delay>30</initial_delay>
			</settings>
		</static-0>
	</static>
	<conn>
		<conn-0>
			<log>
				<level>crit</level>
			</log>
			<settings>
				<enabled>1</enabled>
				<hostname>skywirelessconnector</hostname>
				<conns>
					<conn>
						<enabled>1</enabled>
						<name>telnet</name>
						<path>/sbin/telnetd</path>
						<maxconn>10</maxconn>
						<proto>0</proto>
						<port>23</port>
					</conn>
				</conns>
			</settings>
		</conn-0>
	</conn>
	<dnsmasq_dhcps>
		<dnsmasq_dhcps-0>
			<log>
				<level>crit</level>
			</log>
			<settings>
				<apas_enabled>0</apas_enabled>
				<stb_vlan/>
				<service_ports/>
				<vendors/>
			</settings>
		</dnsmasq_dhcps-0>
	</dnsmasq_dhcps>
	<dhcps/>
	<dhcprelay/>
	<sntp>
		<sntp-0>
			<log>
				<level>crit</level>
			</log>
			<settings>
				<status>1</status>
				<prim_server>europe.pool.ntp.org</prim_server>
				<secn_server>pool.ntp.org</secn_server>
				<tert_server>time.windows.com</tert_server>
				<timeout>10</timeout>
				<retry_count>3</retry_count>
				<poll_interval>1440</poll_interval>
				<timezone>GMT+00:00</timezone>
				<daylight>1</daylight>
			</settings>
		</sntp-0>
	</sntp>
	<route>
		<route-0>
			<log>
				<level>crit</level>
			</log>
			<settings>
				<default_gw>wan-0</default_gw>
				<static_routes/>
			</settings>
		</route-0>
	</route>
	<lan>
		<lan-0>
			<log>
				<level>crit</level>
			</log>
			<settings>
				<type>hybrid</type>
				<entities>
					<entity>
						<mngr>bridge</mngr>
						<inst>bridge_vlan-0</inst>
					</entity>
					<entity>
						<mngr>dhcpc</mngr>
						<inst>dhcpc-0</inst>
						<alias/>
						<announce_list/>
					</entity>
					<entity>
						<mngr>dhcpc</mngr>
						<inst>dhcpc-1</inst>
						<alias>avahi</alias>
					</entity>
					<entity>
						<mngr>static</mngr>
						<inst>static-0</inst>
						<alias>0</alias>
					</entity>
				</entities>
			</settings>
		</lan-0>
	</lan>
	<igmpproxy>
		<igmpproxy-0>
			<log>
				<level>crit</level>
			</log>
			<settings>
				<enabled>0</enabled>
				<quickleave>1</quickleave>
			   	<upifinst>vlan1</upifinst>
			   	<upthreshold>1</upthreshold>
			   	<upratelimit>0</upratelimit>
			   	<acl/>
				<downifaces>
				  	<iface index="1">
				   		<downifinst>bridge_vlan-0</downifinst>
				   		<downthreshold>1</downthreshold>
				   		<downratelimit>0</downratelimit>
					</iface>
				</downifaces>
			</settings>
		</igmpproxy-0>
	</igmpproxy>
	<wan_vlan>
		<wan_vlan-0> 
			<log>
				<level>crit</level>
			</log>
			<settings>
				<name>vlan1</name>
				<vlanid>0</vlanid>
				<port>1</port>
			</settings>
		</wan_vlan-0>
	</wan_vlan>
	<wan2vlan>
		<wan2vlan-0>
			<log>
				<level>crit</level>
			</log>
			<maps/>
		</wan2vlan-0>
	</wan2vlan>
	<security>
		<security-0>
			<log>
				<level>crit</level>
			</log>
			<enabled>1</enabled>
			<settings>
				<firewall>
					<enabled>0</enabled>
					<defaults>
						<access_control>
							<rule id="" name="" active="">
								<interface>
									<lan/>
									<wan/>
								</interface>
								<blocked_clients/>
								<all_traffic_blocked/>
								<blocked_applications/>
							</rule>
						</access_control>
					</defaults>
					<spi>
						<wan-0>0</wan-0>
					</spi>
					<access_control>
						<enabled>0</enabled>
					</access_control>
					<macfilter>
						<enabled>0</enabled>
						<filtered/>
					</macfilter>
					<antidos>
						<enabled>0</enabled>
						<defaults>
							<wan>
								<tcp>
									<period>sec</period>
									<threshold>10</threshold>
								</tcp>
								<udp>
									<period>sec</period>
									<threshold>150</threshold>
								</udp>
								<icmp>
									<period>sec</period>
									<threshold>2</threshold>
								</icmp>
							</wan>
							<lan>
								<tcp>
									<period>sec</period>
									<threshold>1000</threshold>
								</tcp>
								<udp>
									<period>sec</period>
									<threshold>1000</threshold>
								</udp>
								<icmp>
									<period>sec</period>
									<threshold>10</threshold>
								</icmp>
							</lan>
						</defaults>
					</antidos>
				</firewall>
				<bridge_fw>
					<enabled>1</enabled>
					<block_webui>1</block_webui>
					<lan_inst>lan-0</lan_inst>
					<defaults>
						<access_control>
							<rule id="" name="" active="">
								<interface></interface>
								<ip></ip>
								<port></port>
								<protocol></protocol>
							</rule>
						</access_control>
					</defaults>
					<access_control>
						<enabled>1</enabled>
						<rule id="1" name="mdns_block" active="1">
							<interface>wireless_core-0</interface>
							<ip>224.0.0.251</ip>
							<port/>
							<protocol>0800</protocol>
						</rule>
						<rule id="2" name="llmnr_block" active="1">
							<interface>wireless_core-0</interface>
							<ip>224.0.0.252</ip>
							<port/>
							<protocol>0800</protocol>
						</rule>
						<rule id="3" name="stb_block_wifi" active="1">
							<interface>wireless_core-0</interface>
							<ip>90.223.243.225</ip>
							<port/>
							<protocol>0800</protocol>
						</rule>
					</access_control>
				</bridge_fw>
				<nat>
					<enabled>0</enabled>
					<defaults>
						<port_forwarding>
							<rule id="" name="" active="">
								<interface>
									<lan/>
									<wan/>
								</interface>
								<client_ip/>
								<app_db/>
							</rule>
						</port_forwarding>
					</defaults>
					<masq>
						<wan-0>0</wan-0>
					</masq>
					<port_forwarding>
						<enabled>0</enabled>
					</port_forwarding>
					<dmz>
						<enabled>0</enabled>
						<interface>
							<lan/>
							<wan/>
						</interface>
						<dmz_ip/>
					</dmz>
				</nat>
				<remote_management>
					<enabled>0</enabled>
					<accessible_ips>
						<all>0</all>
					</accessible_ips>
					<services>
						<ping>0</ping>
						<telnet>
							<enabled>0</enabled>
							<tcp>
								<port_number>
									<lan>23</lan>
									<wan>9023</wan>
								</port_number>
							</tcp>
						</telnet>
						<web>
							<enabled>0</enabled>
							<tcp>
								<port_number>
									<lan>80</lan>
									<wan>9080</wan>
								</port_number>
							</tcp>
						</web>
						<snmp>
							<enabled>0</enabled>
							<udp>
								<port_range>
									<lan>161:162</lan>
									<wan>9161:9162</wan>
								</port_range>
							</udp>
						</snmp>
						<ssh>
							<enabled>0</enabled>
							<tcp>
								<port_number>
									<lan>22</lan>
									<wan>9022</wan>
								</port_number>
							</tcp>
						</ssh>
					</services>
				</remote_management>
				<content_filter>
					<enabled>0</enabled>
					<defaults>
						<http_filter>
							<rule id="" name="" active="">
								<blocked_clients/>
								<url_filter>
									<enabled/>
								</url_filter>
								<web_filter>
									<enabled/>
								</web_filter>
							</rule>
						</http_filter>
						<key_db>
							<key_list id="">
								<key/>
							</key_list>
						</key_db>
					</defaults>
					<external_proxy/>
					<http_filter/>
					<key_db/>
				</content_filter>
				<app_db>
					<rule id="1" name="DiabloII" hidden="0">
						<tcp>
							<port_number>
								<lan>4000</lan>
								<wan>4000</wan>
							</port_number>
							<port_number>
								<lan>6212</lan>
								<wan>6212</wan>
							</port_number>
						</tcp>
					</rule>
					<rule id="2" name="Doom 3" hidden="0">
						<tcp>
							<port_number>
								<lan>27666</lan>
								<wan>27666</wan>
							</port_number>
						</tcp>
						<udp>
							<port_number>
								<lan>27666</lan>
								<wan>27666</wan>
							</port_number>
						</udp>
					</rule>
					<rule id="3" name="Half Life 2 Steam" hidden="0">
						<tcp>
							<port_number>
								<lan>27015</lan>
								<wan>27015</wan>
							</port_number>
						</tcp>
						<udp>
							<port_number>
								<lan>27015</lan>
								<wan>27015</wan>
							</port_number>
						</udp>
					</rule>
					<rule id="4" name="Quake 3" hidden="0">
						<tcp>
							<port_number>
								<lan>27960</lan>
								<wan>27960</wan>
							</port_number>
						</tcp>
						<udp>
							<port_number>
									<lan>27960</lan>
									<wan>27960</wan>
							</port_number>
						</udp>
					</rule>
					<rule id="5" name="Remote Administrator" hidden="0">
						<tcp>
							<port_number>
								<lan>4899</lan>
								<wan>4899</wan>
							</port_number>
						</tcp>
						<udp>
							<port_number>
								<lan>27960</lan>
								<wan>27960</wan>
							</port_number>
						</udp>
					</rule>
					<rule id="6" name="Remote Desktop" hidden="0">
						<tcp>
							<port_number>
								<lan>3389</lan>
								<wan>3389</wan>
							</port_number>
						</tcp>
						<udp>
							<port_number>
								<lan>3389</lan>
								<wan>3389</wan>
							</port_number>
						</udp>
					</rule>
					<rule id="7" name="SMTP" hidden="0">
						<tcp>
							<port_number>
								<lan>25</lan>
								<wan>25</wan>
							</port_number>
						</tcp>
					</rule>
					<rule id="8" name="SSH" hidden="0">
						<tcp>
							<port_number>
								<lan>22</lan>
								<wan>22</wan>
							</port_number>
						</tcp>
					</rule>
					<rule id="9" name="gnutella" hidden="0">
						<tcp>
							<port_number>
								<lan>6346</lan>
								<wan>6346</wan>
							</port_number>
						</tcp>
						<udp>
							<port_number>
								<lan>6346</lan>
								<wan>6346</wan>
							</port_number>
						</udp>
					</rule>
					<rule id="10" name="Web Server" hidden="0">
						<tcp>
							<port_number>
								<lan>80</lan>
								<wan>80</wan>
							</port_number>
							<port_number>
								<lan>443</lan>
								<wan>443</wan>
							</port_number>
						</tcp>
					</rule>
					<rule id="11" name="FTP" hidden="0">
						<tcp>
							<port_number>
								<lan>20</lan>
								<wan>20</wan>
							</port_number>
							<port_number>
								<lan>21</lan>
								<wan>21</wan>
							</port_number>
						</tcp>
					</rule>
					<rule id="12" name="Syslog" hidden="0">
						<udp>
							<port_number>
								<lan>514</lan>
								<wan>514</wan>
							</port_number>
						</udp>
					</rule>
					<rule id="13" name="VNC" hidden="0">
						<tcp>
							<port_number>
								<lan>5900</lan>
								<wan>5900</wan>
							</port_number>
						</tcp>
					</rule>
					<rule id="14" name="Telnet" hidden="0">
						<tcp>
							<port_number>
								<lan>23</lan>
								<wan>23</wan>
							</port_number>
						</tcp>
					</rule>
					<rule id="15" name="POP3" hidden="0">
						<tcp>
							<port_number>
								<lan>110</lan>
								<wan>110</wan>
							</port_number>
						</tcp>
						<udp>
							<port_number>
								<lan>110</lan>
								<wan>110</wan>
							</port_number>
						</udp>
					</rule>
					<rule id="16" name="VOD" hidden="1">
						<udp>
							<port_number>
								<lan>9090</lan>
								<wan>9090</wan>
							</port_number>
						</udp>
					</rule>
				</app_db>
			</settings>
		</security-0>
	</security>
	<webui>
		<webui-0>
			<log>
				<level>crit</level>
			</log>
			<settings>
				<users>
					<user>
						<name>admin</name>
						<password>sky</password>
					</user>
				</users>
			</settings>
		</webui-0>
	</webui>
	<snmp/>
	<resolver>
		<resolver-0>
			<log>
				<level>crit</level>
			</log>
			<settings>
				<useISPDNS>1</useISPDNS>
				<nameserver1>0.0.0.0</nameserver1>
				<nameserver2>0.0.0.0</nameserver2>
				<nameserver3>0.0.0.0</nameserver3>
			</settings>
		</resolver-0>
	</resolver>
	<tr069>
		<tr069-0>
			<log>
				<level>crit</level>
			</log>
			<settings>
				<enable>1</enable>
				<ManagementServer>
					<URL>http://skyacs.com/</URL>
					<Username>skyacs</Username>
					<Password>skyacs</Password>
					<ConnectionRequestURL>http://192.168.1.1:1050/tr069/</ConnectionRequestURL>
					<ConnectionRequestUsername>AirTies</ConnectionRequestUsername>
					<ConnectionRequestPassword>AirTies</ConnectionRequestPassword>
					<PeriodicInformEnable>1</PeriodicInformEnable>
					<PeriodicInformInterval>86400</PeriodicInformInterval>
					<UpgradesManaged>false</UpgradesManaged>
				</ManagementServer>
				<DeviceInfo>
					<SpecVersion>1.0</SpecVersion>
					<ProvisioningCode></ProvisioningCode>
				</DeviceInfo>
				<Events>
					<Event>0 BOOTSTRAP</Event>
				</Events>
				<ParamAttributes>
					<Notification type="Active">
						<Parameter>InternetGatewayDevice.DeviceInfo.SoftwareVersion</Parameter>
						<Value>NULL</Value>
						<AccessList>
							<String>Subscriber</String>
						</AccessList>
					</Notification>
					<Notification type="Active">
						<Parameter>InternetGatewayDevice.DeviceInfo.ProvisioningCode</Parameter>
						<Value>NULL</Value>
						<AccessList>
							<String>Subscriber</String>
						</AccessList>
					</Notification>
					<Notification type="Active">
						<Parameter>InternetGatewayDevice.ManagementServer.ConnectionRequestURL</Parameter>
						<Value>NULL</Value>
						<AccessList>
							<String>Subscriber</String>
						</AccessList>
					</Notification>
					<Notification type="Active">
						<Parameter>InternetGatewayDevice.WANDevice.0.WANConnectionDevice.0.WANIPConnection.0.ExternalIPAddress</Parameter>
						<Value>NULL</Value>
						<AccessList>
							<String>Subscriber</String>
						</AccessList>
					</Notification>
				</ParamAttributes>
				<CAFilePath>/etc/tr069cert.pem</CAFilePath>
			</settings>
		</tr069-0>
	</tr069>
	<dhcpc>
		<dhcpc-0>
			<log>
				<level>crit</level>
			</log>
			<settings>
				<label/>
				<ipversion>4</ipversion>
				<dhcpserver/>
				<hostname/>
				<fqdn/>
				<vendor-class-id/>
				<dhcp-client-id/>
				<request-options/>
			</settings>
		</dhcpc-0>
		<dhcpc-1>
			<log>
				<level>crit</level>
			</log>
			<settings>
				<label/>
				<ipversion>4</ipversion>
				<dhcpserver/>
				<hostname/>
				<fqdn/>
				<vendor-class-id/>
				<dhcp-client-id/>
				<auto_ip>
					<enabled>1</enabled>
					<force_bind>0</force_bind>
					<debug>1</debug>
				</auto_ip>
			</settings>
		</dhcpc-1>
	</dhcpc>
	<wireless_core>
		<wireless_core-0>
			<log>
				<level>crit</level>
			</log>
			<settings>
				<enabled>1</enabled>
				<slottime/>
				<acktimeout/>
				<ctstimeout/>
				<range/>
				<channel>auto</channel>
				<chanbw>20</chanbw>
				<freq>2400</freq>
				<obss_coex>0</obss_coex>
				<chan_extension>0</chan_extension>
				<txpower>0</txpower>
				<txmode>11bgn</txmode>
				<sta>
					<enabled>1</enabled>
					<ssid/>
					<mac/>
					<security>
						<mode>off</mode>
						<wep>
							<auth_type>open</auth_type>
							<key_type>0</key_type>
							<key_index>1</key_index>
							<key1></key1>
							<key2></key2>
							<key3></key3>
							<key4></key4>
						</wep>
						<wpa>
							<auth_type>0</auth_type>
							<password></password>
							<rekey_interval>3600</rekey_interval>
							<wpa2_rsn_preauth>0</wpa2_rsn_preauth>
							<radius>
								<addr></addr>
								<port></port>
								<key></key>
								<eap_reauth_period>3600</eap_reauth_period>
							</radius>
						</wpa>
					</security>
				</sta>
				<wps>
					<enabled>1</enabled>
					<role>enrollee</role>
					<state>1</state>
					<pin/>
					<trusted_pin/>
					<config_uuid/>
				</wps>
				<wirelessvideo>
					<enabled>0</enabled>
				</wirelessvideo>
			</settings>
		</wireless_core-0>
	</wireless_core>
	<wireless_ap>
		<wireless_ap-0>
			<log>
				<level>crit</level>
			</log>
			<settings>
				<enabled>0</enabled>
				<ssid>AirTies_Air4410</ssid>
				<ssid_hidden>0</ssid_hidden>
				<frag_thres>off</frag_thres>
				<beacon_int>400</beacon_int>
				<prot_mode>0</prot_mode>
				<tx_rate>auto</tx_rate>
				<isolation>0</isolation>
				<acl>
					<mode>0</mode>
					<acl_list/>
				</acl>
				<security>
					<mode>off</mode>
					<wep>
						<auth_type>open</auth_type>
						<key_type>0</key_type>
						<key_index>1</key_index>
						<key1/>
						<key2/>
						<key3/>
						<key4/>
					</wep>
					<wpa>
						<auth_type>0</auth_type>
						<password/>
						<rekey_interval>3600</rekey_interval>
						<wpa2_rsn_preauth>0</wpa2_rsn_preauth>
						<radius>
							<addr/>
							<port/>
							<key/>
							<eap_reauth_period>3600</eap_reauth_period>
						</radius>
					</wpa>
				</security>
			</settings>
		</wireless_ap-0>
		<wireless_ap-1>
			<log>
				<level>crit</level>
			</log>
			<settings>
				<enabled>0</enabled>
				<ssid>AirTies_Air4410_2</ssid>
				<ssid_hidden>0</ssid_hidden>
				<frag_thres>off</frag_thres>
				<beacon_int>400</beacon_int>
				<prot_mode>0</prot_mode>
				<tx_rate>auto</tx_rate>
				<isolation>0</isolation>
				<acl>
					<mode>0</mode>
					<acl_list/>
				</acl>
				<security>
					<mode>off</mode>
					<wep>
						<auth_type>open</auth_type>
						<key_type>0</key_type>
						<key_index>1</key_index>
						<key1/>
						<key2/>
						<key3/>
						<key4/>
					</wep>
					<wpa>
						<auth_type>0</auth_type>
						<password/>
						<rekey_interval>3600</rekey_interval>
						<wpa2_rsn_preauth>0</wpa2_rsn_preauth>
						<radius>
							<addr/>
							<port/>
							<key/>
							<eap_reauth_period>3600</eap_reauth_period>
						</radius>
					</wpa>
				</security>
			</settings>
		</wireless_ap-1>
		<wireless_ap-2>
			<log>
				<level>crit</level>
			</log>
			<settings>
				<enabled>0</enabled>
				<ssid>AirTies_Air4410_3</ssid>
				<ssid_hidden>0</ssid_hidden>
				<frag_thres>off</frag_thres>
				<beacon_int>400</beacon_int>
				<prot_mode>0</prot_mode>
				<tx_rate>auto</tx_rate>
				<isolation>0</isolation>
				<acl>
					<mode>0</mode>
					<acl_list/>
				</acl>
				<security>
					<mode>off</mode>
					<wep>
						<auth_type>open</auth_type>
						<key_type>0</key_type>
						<key_index>1</key_index>
						<key1/>
						<key2/>
						<key3/>
						<key4/>
					</wep>
					<wpa>
						<auth_type>0</auth_type>
						<password/>
						<rekey_interval>3600</rekey_interval>
						<wpa2_rsn_preauth>0</wpa2_rsn_preauth>
						<radius>
							<addr/>
							<port/>
							<key/>
							<eap_reauth_period>3600</eap_reauth_period>
						</radius>
					</wpa>
				</security>
			</settings>
		</wireless_ap-2>
		<wireless_ap-3>
			<log>
				<level>crit</level>
			</log>
			<settings>
				<enabled>0</enabled>
				<ssid>AirTies_Air4410_4</ssid>
				<ssid_hidden>0</ssid_hidden>
				<frag_thres>off</frag_thres>
				<beacon_int>400</beacon_int>
				<prot_mode>0</prot_mode>
				<tx_rate>auto</tx_rate>
				<isolation>0</isolation>
				<acl>
					<mode>0</mode>
					<acl_list/>
				</acl>
				<security>
					<mode>off</mode>
					<wep>
						<auth_type>open</auth_type>
						<key_type>0</key_type>
						<key_index>1</key_index>
						<key1/>
						<key2/>
						<key3/>
						<key4/>
					</wep>
					<wpa>
						<auth_type>0</auth_type>
						<password/>
						<rekey_interval>3600</rekey_interval>
						<wpa2_rsn_preauth>0</wpa2_rsn_preauth>
						<radius>
							<addr/>
							<port/>
							<key/>
							<eap_reauth_period>3600</eap_reauth_period>
						</radius>
					</wpa>
				</security>
			</settings>
		</wireless_ap-3>
	</wireless_ap>
	<wireless_wds/>
	<core>
		<core-0>
			<log>
				<level>crit</level>
			</log>
		</core-0>
	</core>
	<product>
		<product-0>
			<log>
				<level>crit</level>
			</log>
			<settings>
				<router_mode>ap</router_mode>
				<mac>00:00:00:00:00:00</mac>
			</settings>
		</product-0>
	</product>
    <warranty>
             <warranty-0>
                        <log>
                                <level>crit</level>
                        </log>
                        <settings>
				<enabled>1</enabled>
				<name/>
				<email/>
				<phone/>
				<token/>
				<usertoken/>
				<timestamp/>
				<regserver>http://liveupdate.airties.com/register/v3/</regserver>
				<status>0</status>
                        </settings>
                </warranty-0>
        </warranty>
	<http_upgrade_for_sky>
		<http_upgrade_for_sky-0>
			<log>
				<level>debug</level>
			</log>
			<settings>
				<httpserverforfw>sc201.skyfirmware.com</httpserverforfw>
			</settings>
		</http_upgrade_for_sky-0>
	</http_upgrade_for_sky>
	<mdns>
		<mdns-0>
			<log>
				<level>crit</level>
			</log>
			<settings>
				<enabled>1</enabled>
				<debug>1</debug>
				<entities>
					<entity>lan-0</entity>
				</entities>
				<services>
					<service>http</service>
				</services>
				<description>Sky 2.4GHZ Wireless Connector</description>
			</settings>
		</mdns-0>
	</mdns>
</config>
