/* 
 * global_style.css
 * Sky		
 */

/*html, body {height: 100%;}*/

@font-face {
    font-family: "Sky-Sans";
    src: url("fonts/skyreg-webfont.ttf"),
     	 url("fonts/skyreg-webfont.eot"); /* IE9 */
}

@font-face {
    font-family: "Sky-Sans";
    src: url("fonts/skymed-webfont.ttf"),
     	 url("fonts/skymed-webfont.eot"); /* IE9 */
    font-weight: bold;
}

/*
@font-face {
    font-family: "Sky-Sans";
    src: url("fonts/skybold-webfont.ttf"),
     	 url("fonts/skybold-webfont.eot");
    font-weight: bolder;
}
*/

body 
{
	font-family: Sky-Sans, "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 16px;
}
thead th {background:#DDDDDD; border-bottom: 1px solid #CCC;}
tbody tr:nth-child(even) td, tbody tr.even td {background: none;}
tbody tr.odd td {background:#E6E6E6;}
ul, ol {margin:0px; padding: 0px;}

#contentDiv
{
	padding: 20px 20px 20px 0px;
	width: 850px;
	/*margin: auto;*/
	min-width: 800px;
}

#mainDiv
{
	width: 1490px;
	/*margin: 0 auto;*/
}

#wrapDiv
{
	float: left;
	width: 850px;
	margin-left: 100px;
}

#productImage
{
	height: 136px;
	width: 250px;
	background: url(/images/connector-device.jpg) right no-repeat;
	z-index: -1;
	float: left;
	margin-top: 37px;
}

#progressbar
{
	width: 50%;
}

.buttonOptional
{
	font-weight: bold !important;
}

.simpleBackground
{
  background-color: #FFF !important;
}

.title
{
	font-size: 40px;
	font-weight: bold;
	padding: 20px 0px;
	line-height: 1em;
	color: #02AA18;
	/*color: #403C3B;*/
	text-align: left !important;
}

.globalHeaderInfoDiv
{
	width: 620px;
	margin-top: 5px;
	margin-bottom: 10px;
}

.globalTable
{
	width: 620px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.globalTableSmall
{
	width: 350px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.verticalAlignTopTable td
{
	vertical-align: top;
}

.footer
{
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.globalLargeButton
{
	width: 260px;
}

.hidden
{
	display: none;
}

.marginCenter
{
	margin-right: auto;
	margin-left: auto;
	text-align: left;
}

.textCenter
{
	text-align: center;
}

.center
{
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

.textRight
{
	text-align:	right;
}

.widthAuto
{
	width: auto !important;
}

.globalBorder
{
	border: 1px solid #CCC;
}

table td.label, table th.label
{
	text-align: left;
	width: 50%;
	padding-left: 20px;
}

table td.labelRight, table th.labelRight
{
	text-align: right;
	width: 50%;
	padding-left: 20px;
}

.copyright
{
	font-size: 11px;
	display: none;
}

table.withoutPadding th, table.withoutPadding td, table.withoutPadding caption {
	padding: 0px 10px 0px 0px;
}
